.create-new-team-icon {
    background-color: blue;
    color: white;
    border-radius: 50%;
    margin-left: -8px;
}

.create-new-team-button {
    border-radius: 30px;
    height: 40px;
}

/* .dashboard-content{
    background-color: rgb(233, 231, 231);
    height: 100%;
} */

.background-white {
    background-color: white !important;
}