<div class="dashboard-content">
    <div class="container1">
      <span class="dropdown"><mat-select class="custom-dropdown" placeholder="Select Project Name" [(ngModel)]="selectedProject">
          <mat-option *ngFor="let topping of projectNames" [value]="topping">{{topping}}</mat-option>
        </mat-select></span>
      <!--<mat-select class="custom-dropdown" placeholder="Select Team">
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>-->
      <span class="calender">
        <span class="date">Select Start Date</span>
        <input type="date" name="dateofbirth" id="dateofbirth" [(ngModel)]="startDate">
      </span>
      <span class="calender1">
        <span class="date">Select End Date</span>
        <input type="date" name="dateofbirth" id="dateofbirth" [(ngModel)]="endDate">
      </span>
      <button class="submit" (click)="onSubmit()">Submit</button>
      <div class="btn1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <button class="'download-button" (click)="exportToExcel()" ><i class="fa fa-download"></i></button>
      </div>
    </div>
   
   
   
    <div class="nat">
      <canvas id="myChart"></canvas>
    </div>
   
   
    <div class="flex-container">
      <div class="flex-box" >
        <span >{{averageCarbonFootprint}}KG</span><br>
        <span class="title">CO2 Per Day</span>
      </div>
      <div class="flex-box1">
        <span>{{averageEnergyConsumed}}KWH</span><br>
        <span class="title">Energy Usage</span><br>
        <span class="title">Per Day</span>
      </div>
      <div class="flex-box2">
        <span>{{averageCarbonFootprintPercentage}}%</span><br>
        <span class="title">CO2% Per Day</span>
      </div>
    </div>
   
   
    <div class="rectangle">
    CO2% < 30%  <span class="title1">Normal</span><br>
    30% <  CO2%  < 40%   <span class="title2">Average</span><br>
     CO2% >  40%   <span class="title3">High</span>
   
    </div>
   
   
    <div class="container">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Project Name</th>
          <th>Employee Name</th>
          <th>Number OfWorking Days</th>
          <th>Total Working Hours</th>
          <th>Carbon Footprint</th>
          <th>Carbon Footprint Percentage</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i=index; let table of TableData">
          <td><span>{{table.projectName}}</span></td>
          <td><span>{{table.employeeName}}</span></td>
          <td><span>{{table.numberOfWorkingDays}}</span></td>
          <td><span>{{table.totalWorkingHours}}</span></td>
          <td><span>{{table.carbonFootprint}}</span></td>
          <td><span>{{table.carbonFootprintPercentage}}</span><p class="status"></p></td>
          <td>
            <button class="btn" [routerLink]="['/team-member1-details',i]">
            <i class="fa fa-search"></i>Details</button>
          </td>
         
        </tr>
      </tbody>
      </table>
    </div>
  </div>